<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">You have visited this site:</div>
          <div class="card-body">
      		<h5 class="card-title">{{ session['count'] }} times</h5> <!-- take directly from session data, not route function -->
          <p>
            <a href="/destroy_session" class="btn btn-secondary">clear count</a>
            <a href="/" class="btn btn-secondary">add visit</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
